<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.harshi.obsidianbackup</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/harsithps/.config/automations/obsidian_mac_backup.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>PathState</key>
        <dict>
            <key>/Volumes/SANDISK SSD</key>
            <true/>
        </dict>
    </dict>

        <!-- <key>StandardOutPath</key> -->
        <!-- <string>/Users/harsithps/ssd-sync.log</string> -->
        <!-- <key>StandardErrorPath</key> -->
        <!-- <string>/Users/harsithps/ssd-sync.log</string> -->
</dict>
</plist>

